#clear {
  background-color: rgb(255, 135, 135);
}

.num {
  background-color: rgb(221, 221, 221);
}

.operator {
  background-color: rgb(107, 163, 235);
}

#equal {
  background-color: orange;
}

/* Flexbox */

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 65vh;
}

.calculator {
  width: 300px;
  border: solid 2px black;
  border-radius: 12px;
  padding: 1.25em;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;

  width: 100%;
}

button {
  flex: 0 1 calc(25% - 5px);
  
  font-size: 1.5em;
  padding: .75em;
  border-radius: 4px;
}

#display {
  display: flex;
  justify-content: end;
  align-items: center;

  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  font-family: Arial, sans-serif;
  font-size: 2em;
  text-align: end;
  min-height: 2em;
  height: auto;
  padding-right: .5em;
  padding-left: .5em;
  margin-bottom: .5em;
  background-color: #dcead6;
  border: solid 2px rgb(94, 94, 94);
  border-radius: 4px;
}