#clear {
  background-color: rgb(255, 135, 135);
}

.num {
  background-color: rgb(221, 221, 221);
}

.operator {
  background-color: rgb(107, 163, 235);
}

#equal {
  background-color: orange;
}

/* Flexbox */

.calculator {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

button {
  flex: 0 1 calc(25% - 5px);
  
  font-size: 1.5em;
  padding: .75em;
}

input {
  flex: 1 1 100%;

  font-size: 2em;
  text-align: end;
  height: 2em;
  padding-right: .5em;
  margin-bottom: .5em;
}